.text-input
{
-fx-text-fill : #fff;
}

.radio-color
{
-fx-mark-highlight-color : #9643A9;
-fx-mark-color : #CE201C;
}

.buttonJFX
{
-fx-background-color: linear-gradient(to bottom left, #70094f,  #b81484)
}